body{
    font-family: 'Open Sans', sans-serif;
}
p{
    margin: 0;
    pointer-events: none;

}
/* NAVIGATION */
.container{
    height: 100%;
}
.nav{
    transition: 0.1s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 1050;
    margin: 0 auto;
    max-height: 65vh;

}
.header nav{
    width: 100%;
    overflow: hidden;
}

.black_header{
    pointer-events: none;
    background: #000;
    opacity: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: 0.2s ease-in-out;
}

.img_play_navbar{
    width: 26px;
    height: 26px;
    margin-left: 5px ;
}
.nav-item{

    z-index: 100;
    position: relative;
    transform: skew(-45deg);
    border-radius: 2px;

    height: 60px;
    white-space: nowrap;
    transition: 0.1s;
}
.nav-item a{
    transform: skew(45deg);
    text-align: center;


}
.first_nav{
    background-color: #ae6d11 !important;
    padding-left: 20px;
    padding-right: 20px;
}
.first_nav a{
    background: none !important;
}
.second_nav{
    padding-left: 40px;
    padding-right: 40px;
}
.third_nav{
    padding-left: 35px;
    padding-right: 35px;
}
.fourth_nav{
    padding-left: 30px;
    padding-right: 30px;
}
.last_nav{
    background-color: #a9a8a8 !important;
    width: 250px;

}
.nav-link{

    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
/* .corner_link_right{
    z-index: -2;
    width: 80px;
    height: 56px;
    transform: skew(-45deg);
    background-color:#ae6d11;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: -16%;

} */
.nav-item:hover{

    color: white;
}
.nav-item:hover a{
    color: white;
}
.last_nav{
    background: #a9a8a8;
    cursor: pointer;

}
.last_nav :hover{
    background: none !important;
}
.last_nav a{
    background: none !important;
    color: white;
}
.last_nav:hover a{
    background: none;
}
.last_a{
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 99%;
}
.second_nav:hover{
    background: #ae6d11;
}
.third_nav:hover{
    background: #ae6d11;
}
.fourth_nav:hover{
    background: #ae6d11;
}
/* HEADER */

.header{

    min-height: 77px;

}
.header_line_top{
    height: 63px;
    width: 100%;
    z-index: 2;
    opacity: 80%;
    background-color: #032375;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header_active{
    z-index: 10;
    height: 41.5%;
    border-radius: 8px;
    opacity: 1;
}

.header_cont{
    min-height: 77px;
}
.section_header{
    background: #00142c;
    position: relative;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* FOTORAMA_BACK STYLIZATION */
.section_img{
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    height: 100vh;
    z-index: 1;
    white-space: nowrap;
    transition: 1s linear;
}
.second_layer_header_img{
    background:url(../images/sc_layer_header.png) no-repeat center left;
    max-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 50%;
}
.logo{
    width: 280px;
    display: block;
    position: absolute;
    top: 85px;
    left: 5px;
    z-index: 2;
    pointer-events: none;
}
.logo_mobile{
    background: url('../images/logo_mobile.png')center no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;

}


.circle_logo_second{
    FONT-WEIGHT: 500;
    width: 550px;
    height: 550px;
    background: #fff;
    opacity: 10%;
    z-index: 1;
    color: black;
    left: -1%;
    top: -34%;
    border-radius: 100%;
    pointer-events: none;
}
.circle_logo_first{
    FONT-VARIANT: JIS83;
    width: 300px;
    height: 300px;
    background: #02326e;
    opacity:50%;
    z-index: 1;
    color: black;
    left: -19%;
    top: -18%;
    border-radius: 100%;
    pointer-events: none;
}
.title_header{
    position: absolute;
    left: 12%;
    top: 29%;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 10;
    font-size: 20px;
}

.social_div_img{
    list-style: none;
}

.social_div_img a{
    display: block;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

.social_div_img a:hover{
    color: #98ffff;
}

#social-vk {
    background-image: url(../images/icons/vk.png);
    background-repeat: no-repeat;
    background-position: 0 16px;
}

#social-ok {
    background-image: url(../images/icons/ok.png);
    background-repeat: no-repeat;
    background-position: 0 16px;
}

#social-instagram {
    background-image: url(../images/icons/instagramm.png);
    background-repeat: no-repeat;
    background-position: 5px 15px;
}

#social-facebook {
    background-image: url(../images/icons/facebook.png);
    background-repeat: no-repeat;
    background-position: 10px 16px;
}

#social-whatsapp {
    background-image: url(../images/icons/whatsapp.png);
    background-repeat: no-repeat;
    background-position: 3px 16px;
}

#social-telegram {
    background-image: url(../images/icons/telegram.png);
    background-repeat: no-repeat;
    background-position: 3px 16px;
}

#social-youtube {
    background-image: url(../images/icons/youtube.png);
    background-repeat: no-repeat;
    background-position: 3px 16px;
}

#social-twitter {
    background-image: url(../images/icons/twitter.png);
    background-repeat: no-repeat;
    background-position: 3px 16px;
}

.second_title_header{
    width: 90%;
    position: absolute;
    left: 50%;
    top: 23%;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 55px;
    text-align: center;
    z-index: 100;
    line-height: 60px;
    transform: translateX(-50%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    pointer-events: none;
    white-space: normal;
}
.second_title_header h1{
    margin-top: 15px;
    font-size: 120px;
    white-space: normal;
    line-height: 8rem;
}
.text_header{
    margin-top: 90px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 38px;
    z-index: 100;
    pointer-events: none;
}

.header_line{
    text-align: center;
    color: white;
    width: 100%;
    text-transform: uppercase;
    background: #e68116;
    vertical-align: middle;
    pointer-events: visibleStroke;
    transition: 0.1s;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header_line p{
    width: 100%;
    color: white;
    opacity: 1 !important;
    font-weight: bold;
    z-index: 1000;
}
.header_line:hover{
    opacity: 0.7;
}
.p_header{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    margin: 0;
    display: block;
    overflow: hidden;
    margin: auto;
    white-space: normal;
    line-height: 47px;
}
.last_header_text{
    color: white;
    background: black;
    opacity: 0.4;
    width: 100%;
    text-align: center;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
/* DOT */
/* .fotorama__dot
{

    width: 3px;
    height: 3px;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
}
.fotorama__nav__frame:hover .fotorama__dot
{
    transition: 0.2s linear;
    color: white;
    top: 13%;
    left: -5%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.fotorama__active +.fotorama__dot{

}
.fotorama__nav__shaft .fotorama__active{

    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 20px ;
}
.fotorama__nav__frame{
    margin: 40px;
}
.fotorama__nav__shaft{
    width: 500px;
    justify-content: space-between;

} */
.circle_dot{
    position: relative;
    display: block;
    padding: 0;
    width: 10%;
    background: #fff;
    justify-self: start;
    height: 12px;
    width: 12px;
    flex: 0;
    margin: 0 45px;
    border-radius: 25px;
}


.dot_header{
    display: block;
    height: 28px;
    width: 28px;
    color: white;
    transition: opacity 0.1s;
    opacity: 0;
    cursor: pointer;
    border-radius: 25px ;
    border: 2px solid white;
    margin-left: -8px;
    margin-top: -8px;

}
.dot_header:hover{
    opacity: 1;

}
.circle_row
{
    position: absolute;
    bottom: 10%;
    left: 59%;
    width: 60%;
    z-index: 5;
    transform: translateX(-50%);
}
.fotorama__nav-wrap{
    position: absolute;
    bottom: 150px;
    left: -50%;
    transform: translateX(+50%);
    overflow: unset;
}
.fotorama__nav--dots{
    overflow: unset;
}
.fotorama__arr{
    top: 43%;
}
.fotorama__pointer{
    cursor: grab !important;
}
/* SLIDES */
.div_first_slide{
    width: 100%;
    height: 100vh;
    background: #02326e;
    opacity: 0.4;
}
.top_logo {
    background-image: url(../images/logo.png);
    background-position-x: center;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
}
/* ANDREW */
.fotorama__dot {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.fotoramanav__frame .fotorama__dot {
    top: 0;
    left: 0;

}

.fotorama__nav__frame.fotorama__nav__frame {
    width: 18px;
    height: 18px;
    border: 0;
}
.fotorama__nav__frame {
    margin:0 20px 0 20px
}
.fotorama__nav__frame:hover .fotorama__dot {
    top: 0;
    left: 0;
    background-color: #ae6d11cf;
    transition: 0.1s linear;
    width: 20px;
    height: 20px;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: 20px;
    height: 20px;
    border-width: 2px;
    background-color: #f5960f;
}

.fotorama__nav__shaft {
    justify-content: center;
}
.fotorama__nav .fotorama__nav--dots {
    display: flex;
    justify-content: center;
}
/* .fotorama_videos{
    display: grid;
    justify-items: center;
    height: 100vh;
    overflow: unset;

} */
.fotorama_videos .fotorama__wrap {
    min-width: 100% !important;
    padding: 30px 0 30px 0;
}
/* .fotorama_videos .fotorama__stage  {
    min-width: 100%;
}
.fotorama_videos .fotorama__stage__shaft  {
    width: 100%;
}
.fotorama_videos .fotorama {
    width: 100%;
} */
.fotorama_videos .fotorama__nav__frame {
    margin: 0;
}
.fotorama_videos .fotorama__nav-wrap   {
    left: 0;
    transform: translateX(0);
    position: unset;
}
/* BUTTON */
.nav_button_div{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 3%;
    top: 18%;
    z-index: 1030;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
.button_nav{
    z-index: 1000;
    width: 35px;
    height: 3px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 3px #ae6d11;
    transition: 0.3s ease-in-out;

}
.button_nav::before{
    border-radius: 2px;
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background: white;
    transform: translateY(-11px);
    box-shadow: 0 2px 3px #ae6d11;
    transition: 0.3s ease-in-out;
}
.button_nav::after{
    border-radius: 2px;
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background: white;
    transform: translateY(11px);
    box-shadow: 0 2px 3px #ae6d11;
    transition: 0.3s ease-in-out;

}
.nav_button_div.open .button_nav{
    background: transparent;
    box-shadow: none;
}
.nav_button_div.open .button_nav::after{
    transform: translate3D(0,0,0) rotate(45deg);

}
.nav_button_div.open .button_nav::before{
    transform: translate3d(0,0,0) rotate(-45deg);
}
/* CALENDAR */
.calendar{
    display: flex;
    padding: 150px 0 200px 0;
}
.calendar_date {
    height: 100%;
}
.calendar_actions {

    height: 100%;
}
.calendar_actions h1{
    font-size: 36px;
    margin-bottom: 25px;
}
.calendar_section{
    background: url(../images/calendar_bg.png)center no-repeat;
    background-size: cover;
    height: 736px;
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;

}
.head_calendar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.week_days {

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
}
.week_days div{
    height: 2.2em;
    width: 2.2em;

}
.month_days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 1%;
    grid-row-gap: 8%;
    margin-top: 20px;

}
.month_days div{
    border-radius: 100%;
    width: 2.3em;
    height: 2.3em;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    line-height: 30px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.month_days div:hover{
    background-color: #02326e;
    border: 3px solid #0085cd;

}
.month_days .selected_day{
    background-color: #02326e;
    border: 3px solid #0085cd;
}
.month_days .today{
    background-color: #0085cd;
}
.prev-date{
    color: #a9a8a8;
}
.next-date{
    color: #a9a8a8;

}
/* CALENDAR BUTTONS */
.calendar_button-prev{
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-right: 15px solid #5c7393;
    z-index: 10;
    cursor:pointer;
    margin-right: 40px;
    position: absolute;
    left: 15%;
}
.calendar_button-next{
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 15px solid #5c7393;
    z-index: 10;
    cursor:pointer;
    position: absolute;
    right: 15%;
}
/* THIS IS NOT */
.month_days .not_This_Month{
    background: none;
}
/* TIMETABLE */
.week_days_left{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.week_day_left{
    text-align: center;
    padding: 5px;
    white-space: nowrap;
}
.week_day_left:hover{
    background-color: #104b83;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.timetable_calendar{
    display: grid;
    grid-template-columns: 1fr 8fr;
    font-size: 25px;
}
.timetable_calendar p{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*VIDEOS SECTION*/
.section_video_slider{
    background: #034d92;
}
.top_videos_information{
    padding: 40px 0;
    display: grid;
    grid-template-columns: 0fr 5fr;
    grid-gap: 10px;
    position: relative;
    font-size: 27px;
}
.top_videos_information p{
    color: white;
}
.button_line_videos{
    width: 120px;
    margin-right: 15px;
    margin-top: 15px;
}
/* ABOUT church */
.about_church{
    background: #0d2a59 url(../images/bg_about_church.png) 0 -74px no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: 6fr 7fr 1fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    padding: 30px 0;
}
.about_church > .about_content{
    grid-row: 2;
    grid-column: 2;
    color: white;
    padding: 20px;
    background-color: #19305d8a;
    border-radius: 20px;
    font-size: 21px;
}
.about_church h1, .about_pastor h1{
    grid-row: 1;
    text-transform: uppercase;
    grid-column: 2;
    color: white;
    text-shadow: 3px 5px 8px black;
    font-size:  3rem;
}
/* ministry/ */
.ministry{
    background-color: #0b447c;
    padding: 50px 0;
}
.img_ministry{
    width: 100%;
}
.ministries_rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 76px;
}
.ministry_col h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 40px 0 5px 0;
    text-align: center;
    overflow: hidden;
}
.ministries_rows .col_middle h1{
    margin: 5px 0 40px 0;

}

.more_btn {
    text-decoration: none;
    padding: 10px 46px;
    border-radius: 7px;
    color: #fff;
    background-color: #ce7e00;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    max-width: 290px;
    text-align:center;
    font-weight: bold;
}
.more_btn:hover {
    background-color: #eea32d;
    color: #fff;
}

.about_church .about_more {
    grid-row: 2;
    grid-column: 2;
    position: relative;
}

/* ABOUT_PASTOR */
.about_pastor{
    background: url('../images/about_pastor.png') center no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: 6fr 6fr 2fr;
    padding: 20px 0 45px 0px;
}
/* SUPPORT_US */
.support_us{
    background: url('../images/support_us.png') center no-repeat;
    background-size:cover;
    color: white;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    text-align: center;
    padding-top: 50px;
}
.support_us .button_watch{
    background-color: #0b447c;
}
.support_us .button_watch:hover{
    background-color: #2266a6;
    cursor: pointer;
}
.support_us .button_watch{
    padding: 15px 90px;
    max-height: 63px;
    text-align: center;
    grid-row: 4;
    margin: 40px 20px;
    grid-column: 2;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    justify-self: center;
    border-radius: 40px;
    font-size: 22px;
}
.support_us .button_watch a{
    text-decoration: none;
    color: #fff;
}
.support_us h1{
    grid-column: 2;
    justify-self: center;
    font-weight: bold;
    font-size: 3rem;
}
.support_us .support_us_be_blessed{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 4rem;
    margin: 63px 0;
}
.support_us p{
    grid-column: 2;
    font-size: 27px;
    justify-self: center;
}
/* FORM */
.form_section{
    background: url(../images/form_section.png)center no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.form{
    position: relative;
    background: #174d84;
    border-radius: 10px;
    color: white;
}
.form h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    padding: 30px;
    margin: 0;
}
.form_grid .row_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form_grid .form_col1>*:not(:first-child) label{margin: 20px 0;}
.form_grid .form_col1>*:first-child label,
.form_grid .form_col2>*:first-child label{
    margin-bottom: 20px;
}
.form_grid input{
    padding: 20px;
    width: 92%;
    height: 50px;
    border: 0;
    border-radius: 30px;
}
.form_grid input:focus-visible,
.form_grid textarea:focus-visible{
    outline: none;
}
.form_grid textarea {
    padding: 20px;
    min-height: 300px;
    width: 92%;
    border-radius: 20px;
}
.feedback_fio {
    grid-row: 1;
}

.feedback_email {
    grid-row: 2;
}

.feedback_phone {
    grid-row: 3;
}
.form_col1{
    margin-left: 20px;
}
.form_col2{
}
.form .more{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
}
.form_col2 input{
    height: 200px;

}
/* FOOTER  */
.footer{
    padding-top: 20px;
    color: white;
    background-color: #002456;
}

.footer_grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.left_side_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.left_side_footer h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.left_side_footer ul {
    padding-left: 0px;
}

.left_side_footer a {
    font-size: 20px;
}

.right_side_footer h1{
    font-size: 20px;
}
.right_side_footer{
    background-color: #0a3768;
    padding:10px;
    height: 500px;
}
.social_networks{
    justify-items: start;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-right: 2rem;
}
.social_networks h1{
    grid-column: 2;
}
.social_networks div{
    grid-column: 1;
}
.about_ministry{
    display: grid;
    grid-template-rows: repeat(1,0fr) 1fr;
}

.bless_header {
    font-size: 77px;
    font-family: 'Pacifico', cursive;
    margin-top: 13px;
    white-space: normal;
    line-height: 92px;
}
.online {
    font-size: 23px;
}

.online > * {
    padding: 10px;
}

.ministry a {
    text-decoration: none;
    border: 2px solid #fff0;
    transition: 0.3s border-color;
    border-radius: 10px;
    display: block;
}

.ministry a:hover {
    border-color: #fff;
}

.about_pastor_content {
    grid-column: 2;
    grid-row: 2;
    color: #fff;
    font-size: 21px;
}

.about_pastor .about_more {
    grid-column: 2;
}
.about_pastor h1 {
    margin-bottom: 50px;
}

.pastor_img > div {
    background-color: #EED3B0;
    background-image: url(../images/pastor.png);
    background-position: -24px 37px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 270px;
    position: absolute;
    top: -41px;
    left: -69px;
}

.pastor_img {
    position: relative;
    grid-row: 2;
}

.about_ministry li, .about_us li {
    list-style: none;
}

.left_side_footer a {
    text-decoration: none;
    color: #fff;
}

.about_ministry a:hover, .about_us a:hover {
    color: #98ffff;
}

/* WIDHT  */
@media(max-width:1200px){
    .fotorama__nav-wrap{
        bottom: 60px;
    }
    .first_nav{
        background-color: #ae6d11 !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .first_nav a{
        background: none !important;
    }
    .second_nav{
        padding-left: 20px;
        padding-right: 20px;
    }
    .third_nav{
        padding-left: 15px;
        padding-right: 15px;
    }
    .fourth_nav{
        padding-left: 10px;
        padding-right: 10px;
    }
    .last_nav{
        background-color: #a9a8a8 !important;

    }
    .circle_logo_first{
        left: -16%;
        top: -35%;

    }
    .circle_logo_second{
        left: -18%;
        top: -32%;
    }
    .text_header{
        font-size: 39px;
        text-align: center;
        margin-top: 60px;
    }
}
@media(max-width:1150px){
    .pastor_img > div{
        width: 400px;
        height: 400px;
        background-position: -11px 27px;
    }
    .left_side_footer {
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:992px){
    .logo{
        width: 250px;
    }
    .circle_logo_first{
        left: -20%;
        top: -37%;

    }
    .circle_logo_second{
        left: -22%;
        top: -35%;
    }
    .nav-item{
        transform: none;
        margin: 0 0 5px 0;
        padding: 0 !important;
    }

    .nav-item a{
        transform: none;
    }
    .nav {
        width: 100%;
        display: inline-flex;
        position: fixed;
        right: 50%;
        top: 0;
        z-index: 10;
    }
    .nav li a{

        padding-top: 20px;
    }
    .second_title_header h1{
        font-size: 105px;
    }
    /* .fotorama__nav-wrap{
        bottom: 20%;
    } */
    .circle_logo_first{
        display: none;

    }
    .circle_logo_second{
        display: none;
    }
    .month_days{
        grid-column-gap: 1.5%;
    }
    .bless_header{
        font-size: 70px !important;
        line-height: 85px;
    }
    .online > * {
        padding: 10px 20px;
    }
    .calendar {
        padding: 50px 0;
    }
    .about_church {
        grid-template-columns: 0fr 6fr 0fr;
    }
    .about_church h1 {
        text-align: center;
    }
    .about_church .about_more{
        text-align: center;
    }
    .support_us{
        height: initial;
        padding-top: 30px;
    }
    .support_us h1{
        font-size: 2.5em;
    }
    .container{
        max-width: 100%;
    }
    .form_grid .row_1{
        grid-template-columns:1fr;
    }
    .form_grid input{
        width: 100%;
    }
    .form_col1{
        margin: 0 20px 20px 20px;
    }
    .form_col2{
        margin: 0 20px 20px 20px;
    }
    .form_grid textarea{
        width: 100%;
    }
    .more_btn{
    }
}
@media(max-width:900px){
    .about_pastor{
        grid-template-columns: 0;
        grid-template-rows: 1fr 4fr 4fr 1fr;
        padding: 50px 0 0 0px;
    }
    .about_pastor_content{
        grid-row: 3;
        padding: 0 20px;
    }
    .about_pastor .about_more{
        grid-row: 4;
    }
    .about_pastor .about_more a{
        width: 56%;
        text-align: center;
    }
    .about_pastor h1{
        text-align: center;
    }
    .pastor_img > div{
        background-position: -25px 27px;
        top: 0;
        left: 70px;
    }
    .left_side_footer {
        grid-template-columns: none;
    }
}
@media(max-width:768px){
    .black_header_nav_open{
        opacity: 0.7;
        pointer-events: visibleStroke;

    }
    .nav_menu_open{
        pointer-events:visibleStroke;
        opacity: 1 !important;
        overflow: unset;
        display: flex !important;


    }
    .header_line_top{
        height: 90px;

    }

    .nav_button_div{
        display: flex;
    }
    .logo{
        display: none;
    }
    .logo_mobile{
        left: 10px;
        width: 62px;
        height: 60px;
        z-index: 1000;
        position: fixed;
        top: 10px;
    }
    .second_layer{
        opacity: 0%;
    }
    .nav{
        margin-top: 90px;
        opacity: 0;
        overflow: scroll !important;
        justify-content: left;
        width: 100%;
        display: none;
    }

    .nav .second_nav{
        padding: 0;
        margin: 2px 4px 2px 4px;
    }
    .nav .last_nav{
        left: 0px;
        margin-left: 4px;

    }
    .nav li{
        background: #ae6d11;
        margin: 2px;
        width: 90%;
        margin-right: 0px !important;
        padding-right: 0 !important;
        overflow: hidden !important;
    }

    .nav li a{
        padding-top: 18px;
    }
    .second_title_header{
        width: 95%;
    }
    .second_title_header h1{
        font-size: 70px;
    }
    .week_days div{
        padding: 4px;
    }
    .month_days{
        grid-column-gap: 0;


    }
    .month_days div{
        width:28px;
        height: 28px;
        line-height: 22px;
        font-size: 12px;
    }
    .bless_header {
        font-size: 47px !important;
        line-height: 50px !important;
    }
    .p_header {
        font-size: 30px;
        line-height: 40px;
    }
    .calendar_actions h1, .timetable_calendar {
        text-align: center;
    }
    .container, .container-sm {
        max-width: 600px;
    }
    .ministries_rows{
        grid-gap: 0;
    }
}
@media (max-width: 576px) {
    .container, .container-sm {
        max-width: 600px;
    }
    .ministries_rows{
        grid-gap: 0;
    }
}
/* HEIGHT */
@media only screen and (max-height: 541px) {
    .second_title_header{
        display: none;
    }
    .header_line{
        bottom: -90px;
    }
}
@media only screen and (max-height: 441px)
{
    .logo{
        display: none;
    }
    .header_line_top{
        height: 20vh;
    }
    .text_header{
        display: none;
    }

    .logo_mobile h1{
        font-size: 10vh;
    }
}
@media only screen and (max-height: 441px) and (max-width:768px)
{
    .nav{
        margin-top: 20vh;
    }
}